/* Josefin Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

@import '@/assets/css/auth/layout.css';
@import '@/assets/variables/auth/_variables.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --test-config: red;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input-base {
  @apply  border-gray-500/50 bg-white/10 placeholder-white/80 outline-0 backdrop-blur-xl border-1 w-full rounded-md p-2;
}

.input-base:focus {
  @apply focus:ring-1  focus:ring-white;
}
.select2-dropdown {
  @apply rounded-b-lg shadow-md;
}
.select2-search {
  @apply rounded border border-gray-300;
}
.select2-results__group {
  @apply text-lg font-bold text-gray-900;
}
